@model {{ webns }}.Models.LoginRequestViewModel;
@{
    ViewData["Title"] = "Sign In";
}

<h1>Sign In</h1>

<form asp-action="Login">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <fieldset>
        <label asp-for="Password"></label>
        <input asp-for="Password" autofocus type="password" class="input-medium" />
        <span asp-validation-for="Password" class="danger"></span>
    </fieldset>

    <div>
        <input type="submit" value="Sign In" class="success" />
    </div>
</form>
