@{
    ViewData["Title"] = "Sign Out";
}

<h1>Sign Out</h1>

<form asp-action="LogoutPost">
    <p>
        This will sign you out of the administration site.
    </p>
    <div>
        <input type="submit" value="Sign Out" class="danger" />
    </div>
</form>
